$height-all: 585px;
$width-all: 785px;
$width-feed: 250px;
$vertical-padding: 4px;

$color-black: #414344;
$color-grey: #878e91;
$color-light-grey: #a3aaac;
$color-white: #f1f6f7;
$color-brand: #4c848f;
$color-brand-strong: #2d6672;
$color-brand-light: #87c8d4;
$color-accent: #c59c6d;
$color-accent-strong: #9b7040;
$color-accent-light: #d8bea1;
$color-red: #da5f4f;
$color-green: #42b351;

$color-text: $color-white;
$color-error: $color-red;
$color-bg: $color-black;
$color-bg-highlight: $color-grey;
