.live-reader-options {
    font-size: 12px;
    
    h3 {
        font-size: 20px;
        font-weight: bold;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none outside;
    }

    li {
        margin: 4px 0;
        padding: 0;
    }

    .feed-item {
        display: flex;
        padding-bottom: 4px;
        border-bottom: 1px solid #b1b1b3;

        &-inputs {
            display: block;
            flex: 1;

            > div {
                display: flex;

                label {
                    display: block;
                    width: 3em;
                    height: 24px;
                    margin: 2px 0;
                    padding: 0;
                    line-height: 24px;
                }

                input {
                    display: block;
                    flex: 1;
                }
            }
        }

        &-controls {
            display: block;
            margin-left: 10px;
            line-height: 24px;

            button {
                display: inline-block;
                margin: 2px 0;
                padding: 4px 8px;
                font-size: 12px;
                line-height: 12px;
            }
        }
    }

    input {
        display: inline-block;
        margin: 2px 0;
        border: 1px solid #737373;
        border-radius: 4px;
        padding: 2px 6px;
        font-size: 12px;
        line-height: 20px;
        color: #0c0c0d;

        &[type="number"] {
            -moz-appearance:textfield;
            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }

    .error {
        color: #ff0039;
    }

    .invalid {
        background-color: #fde;
    }

    input[type="file"] {
        display: none;
    }

    .debug {
        font-size: 12px;
        line-height: 14px;
        width: 100%;
        max-height: 30em;
        overflow: auto;
    }
}