$height-all: 600px;
$width-all: 800px;
$width-feed: 250px;
$vertical-padding: 4px;
$color-text: #f9f9fa;
$color-error: #d70022;
$color-bg: #4a4a4f;
$color-bg-highlight: #5c5c61;

html {
    margin: 0;
    border: 0;
    padding: 0;
}

body {
    color: $color-text;
    background-color: #4a4a4f;
    min-width: $width-all;
    max-height: $height-all;
    margin: 0;
    border: 0;
    padding: 0;
    overflow: hidden;
}

.live-reader {
    display: block;
    height: $height-all;
    padding: $vertical-padding 0;
    overflow: hidden;
    font-size: 14px;

    ul, li {
        margin: 0;
        padding: 0;
        list-style: none outside;
    }

    a {
        display: block;
        padding: 7px 14px;
        line-height: 14px;
        text-decoration: none;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        color: $color-text;
        &:hover {
            background-color: $color-bg-highlight;
        }
    }

    .feeds {
        position: absolute;
        top: $vertical-padding;
        left: 0;
        width: $width-feed;
        height: $height-all - ($vertical-padding * 2);
        overflow-y: scroll;
        li {
            &.error > a {
                color: $color-error !important;
            }
            &.active > a {
                background-color: $color-bg-highlight;
            }
            a:hover {
                background-color: $color-bg-highlight;
            }
        }
    }

    .entries {
        position: absolute;
        top: $vertical-padding;
        left: $width-feed;
        width: $width-all - $width-feed;
        height: $height-all - ($vertical-padding * 2);
        overflow-y: scroll;
        a:visited {
            color: darken($color-text, 25%);
        }
    }

    .controls {
        position: absolute;
        top: $vertical-padding + 2px;
        right: 22px;

        .reload {
            display: block;
            margin: 0;
            border: 1px solid #aaa;
            border-radius: 4px;
            padding: 4px;
            background-color: #eee;
            &:hover {
                background-color: #ccc;
            }
            &:active {
                background-color: #aaa;
            }
            img {
                display: block;
                width: 14px;
                height: 14px;
            }
        }
    }
}